.container {}

.btnCall {
    position: fixed;
    top: 740px;
    right: 50px;
    z-index: 1;

}

.textCall {
    position: fixed;
    top: 690px;
    right: 30px;
    z-index: 1;
    color: orangered;
}

.imgCall {
    height: 100px;
    width: 100px;
}

@media screen and (max-width:480px) {
    .imgCall {
        height: 60 !important;
        width: 60 !important;
    }

    .btnCall {
        position: fixed;
        top: 500px;
        right: 25px;
        z-index: 1;
    }

    .textCall {
        font-size: 14px;
        position: fixed;
        top: 465px;
        right: 15px;
        z-index: 1;
        color: orangered;
    }
}
@media screen and (min-width: 992px) {
    .imgCall {
        height: 70 !important;
        width: 70 !important;
    }
    .btnCall {
        position: fixed;
        top: 560px;
        right:25px;
        z-index: 1;
    }

    .textCall {
        font-size: 14px;
        position: fixed;
        top: 520px;
        right: 15px;
        z-index: 1;
        color: orangered;
    }
  }