.container {}

.btnCall {
    position: fixed;
    top: 800px;
    right: 50px;
    z-index: 1;

}

.textCall {
    position: fixed;
    top: 750px;
    right: 30px;
    z-index: 1;
    color: orangered;
}

.imgCall {
    height: 100px;
    width: 100px;
}

@media screen and (max-width:480px) {
    .imgCall {
        height: 60 !important;
        width: 60 !important;
    }

    .btnCall {
        position: fixed;
        top: 560px;
        right: 20px;
        z-index: 1;
    }

    .textCall {
        font-size: 14px;
        position: fixed;
        top: 525px;
        right: 10px;
        z-index: 1;
        color: orangered;
    }
}