.container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.loc {
  margin-top: 10px;
  margin-bottom: 10px;
}

.select {

  margin-bottom: 10px;
}

.btnCall {
  position: fixed;
  top: 800px;
  right: 50px;
  z-index: 1;
}

.imgCall {
  height: 100px;
  width: 100px;
}

/* .desc {
  font-size: 20px;
  color: #444;
  width: 70%;
  
}

.desc1 {
  font-size: 20px;
  color: #444;
  width: 70%;
} */

.search {
  padding: 10px;
  font-size: 20px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
    color: orangered;
  }

  .desc {
    width: 90%;
    text-align: justify;
    font-size: 18px;
  }

  .desc1 {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .title {
    text-align: center;
    color: orangered;
  }

  .desc {
    display: none;
  }

  .desc1 {
    font-size: 20px;
    color: #444;
    width: 70%;
    text-align: justify;
  }
}