.container {
  width: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: #d1411e;
}

.price {
  font-size: 15px;
  font-weight: bold;
  color: #666;
}

.desc {
  text-align: center;
  color: #777;
}

@media screen and (max-width: 480px) {
  .container {
    width: 50%;
  }

  .title {
    font-size: 15px;
  }

  .price,
  .desc {
    font-size: 12px;
  }
}